*{
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    height: 5vh;
    margin-bottom: 50px;
    
}

header a{
    text-decoration: none;
    color: black;
    margin-top: 5px;
    font-size: 25px;
    margin-right: 50px;
   
}
header a:hover{
    text-decoration: none;
    transition: 0.5s;
}
header nav{
    width: 100vh;
    display: flex;
    justify-content: center;
}

.logo{
    background-color: black;
}

.logoHeader{
    width: 10em;
    display: flex;
    justify-content: left;
}
.containerH1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.sectionProductos{
    padding: 30px;
}

.containerH2Productos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionCards {
    display: flex;
}

.descripcion {
    width: 50%;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 20px;
}

.card-group {
    width: 100%;
}
.card{
    background-color: black;
    padding: 10px;
}

.card-img-top{
    width: 100%;
}